/* line 4, ../scss/audio.scss */
.audio-container {
  width: 100%;
}
/* line 7, ../scss/audio.scss */
.audio-container .content {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px;
  height: calc(100vh - 40px);
  position: relative;
  background-image: url(../images/gamla_vasa_1840-tal.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 18, ../scss/audio.scss */
.audio-container .content h1 {
  margin-top: 0;
}
/* line 22, ../scss/audio.scss */
.audio-container .content p {
  margin: 1em 0 0.5em 0;
}
/* line 26, ../scss/audio.scss */
.audio-container .content audiocell {
  position: absolute;
  min-width: 33.3%;
  max-width: 33.3%;
  min-height: 10%;
}
@media screen and (max-width: 600px) {
  /* line 26, ../scss/audio.scss */
  .audio-container .content audiocell {
    max-width: calc(100% - 100px);
  }
}
/* line 34, ../scss/audio.scss */
.audio-container .content audiocell.top {
  top: 6%;
}
/* line 37, ../scss/audio.scss */
.audio-container .content audiocell.bottom {
  bottom: 6%;
}
/* line 40, ../scss/audio.scss */
.audio-container .content audiocell.left {
  left: 4%;
}
/* line 43, ../scss/audio.scss */
.audio-container .content audiocell.right {
  right: 4%;
}
/* line 47, ../scss/audio.scss */
.audio-container .content audiocell h2 {
  width: 100%;
}
/* line 48, ../scss/audio.scss */
.audio-container .content audiocell h2 a {
  color: inherit;
  text-align: center;
  display: block;
}
/* line 49, ../scss/audio.scss */
.audio-container .content audiocell h2 a:hover {
  text-decoration: none;
}
/* line 51, ../scss/audio.scss */
.audio-container .content audiocell .collapse {
  margin-top: 30px;
}
/* line 53, ../scss/audio.scss */
.audio-container .content audiocell .input-group-addon.fixed-width {
  min-width: 61px;
}
