/* line 4, ../scss/work.scss */
.work-container {
  width: 100%;
}
/* line 7, ../scss/work.scss */
.work-container .content {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 40px);
  background-image: url(../images/tullhuset.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* line 11, ../scss/work.scss */
.work-container .content.has-content {
  height: unset;
  min-height: calc(100vh - 40px);
}
/* line 19, ../scss/work.scss */
.work-container .content h1 {
  display: inline-block;
  position: relative;
  top: calc(50% - 29.8px);
  left: calc(50% - 109.0165px);
  background-color: wheat;
  padding: 10px 23px;
  margin: 0;
  box-shadow: 0px 3px 7px 6px rgba(0, 0, 0, 0.5);
}
/* line 30, ../scss/work.scss */
.work-container .content p {
  margin: 1em 0 0.5em 0;
}
/* line 34, ../scss/work.scss */
.work-container .content .btn-bar {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 39, ../scss/work.scss */
.work-container .content .btn-bar .btn {
  position: absolute;
  min-width: 18%;
  min-height: 10%;
}
/* line 44, ../scss/work.scss */
.work-container .content .btn-bar .btn.top {
  top: 6%;
}
/* line 47, ../scss/work.scss */
.work-container .content .btn-bar .btn.bottom {
  bottom: 6%;
}
/* line 50, ../scss/work.scss */
.work-container .content .btn-bar .btn.left {
  left: 4%;
}
/* line 53, ../scss/work.scss */
.work-container .content .btn-bar .btn.right {
  right: 4%;
}
/* line 56, ../scss/work.scss */
.work-container .content .btn-bar .btn.middle {
  left: calc(50% - 9%);
}
/* line 62, ../scss/work.scss */
.work-container .content .subview-container {
  display: inline-block;
  margin: 5% 10%;
  max-width: 80%;
}
/* line 67, ../scss/work.scss */
.work-container .content .subview-container img {
  max-width: 40%;
  margin-left: 4%;
}
@media screen and (max-width: 1300px) {
  /* line 67, ../scss/work.scss */
  .work-container .content .subview-container img {
    max-width: 30%;
  }
}
@media screen and (max-width: 1150px) {
  /* line 67, ../scss/work.scss */
  .work-container .content .subview-container img {
    max-width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 67, ../scss/work.scss */
  .work-container .content .subview-container img {
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  /* line 67, ../scss/work.scss */
  .work-container .content .subview-container img {
    max-width: 100%;
    margin-left: 0;
    float: none !important;
  }
}
