//@import "compass/reset";

@import "global.scss";
@import "responsive.scss";
@import "menu.scss";
@import "typography.scss";

#orientation-error {
	@media screen and (orientation:portrait) {
		display: block;
		width: 80vw;
		margin: 0 auto;
		position: absolute;
		top: calc(50% - 26px);
		left: 10vw;
	}
	@media screen and (orientation:landscape) {
		display: none;
	}
}

.view-container {
	@include centeredcontainer;
	@include flexbox(row);
	height: 100vh;
	
	@media screen and (orientation:portrait) {
		display: none;
	}
}

#level-modal, #info-modal {
	.vertical-alignment-helper {
		display: table;
		height: 100%;
		width: 100%;
		pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */

	    .vertical-align-center {
			/* To center vertically */
			display: table-cell;
			vertical-align: middle;
			pointer-events: none;

			&.modal-sm { width: 300px !important; }

			.modal-content {
				/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
				width: inherit;
				height: inherit;
				/* To center horizontally */
				margin: 0 auto;
				pointer-events: all;
			}
		}
	}

	.modal-header, .modal-footer {
		text-align: center;
	}
}