@import "global.scss";
@import "responsive.scss";

.history-container {
	width: 100%;
	
	.content {
		@include centeredcontainer();
		padding: 20px 50px;
		min-height: calc(100vh - 40px);
		
		background-image: url(../images/background-main3.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		
		h1 {
			margin-top: 0;
		}
		
		p {
			margin: 1em 0 0.5em 0;
		}
	}
	
	.btn-bar {
		text-align: center;
		
		button {
			width: 18%;
			min-width: 170px;
			min-height: 10%;
			position: absolute;
			
			&.left {
				left: 11.5%;
			}
			&.middle {
				left: calc(50% - 9%);
				@media screen and (max-width: 600px) { left: calc(50% - 85px); }
			}
			&.right {
				right: 11.5%;
			}
			&.top {
				top: 20%;
			}
			&.center {
				top: calc(50% - 5%);
			}
			&.bottom {
				bottom: 15%;
			}
		}
	}
	
	.subview-container {
		margin-top: 20px;
		text-align: right;
		
		button.close {
			display: inline-block;
			padding: 0 20px;
			float: none;
		}
		
		h2 {
			text-align: center;
			
			@media screen and (max-width: 767px) { text-align: left; }
		}
		
		timeline {
			display: block;
			margin-top: 20px;

			li {
				text-align: right;
				&.timeline-inverted {
					text-align: left;
				}
				
				@media screen and (max-width: 767px) {
					text-align: left !important;
				}

				timeline-panel {
					.timeline-panel {
						width: 100%;
					}
				}
			}
		}
		
		.church, .school {
			text-align: left;
			
			h2 {
				margin-top: 0;
				text-align: left;
			}
			
			img {
				max-width: 40%;
				margin-left: 10px;
				
				@media screen and (max-width: 1300px) {
					max-width: 30%;
				}
				@media screen and (max-width: 1150px) {
					max-width: 40%;
				}
				@media screen and (max-width: 1024px) {
					max-width: 50%;
				}
				@media screen and (max-width: 600px) {
					max-width: 100%;
					margin-left: 0;
					float: none !important;
				}
			}
		}
		
		.church {
			
		}
		
		.school {
			
		}
		
		tasks {
			text-align: left;
		}
	}
}