@import "layout.scss";

.main-container {
	background-image: url(../images/background-main.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	flex: 1 0 auto;
	
	.layout {
		height: 100vh;
		position: relative;

		.btn {
			position: absolute;
			box-shadow: 0px 2px 5px 3px #1E1D1D;
			background-color: #002b50;
			border-color: #003563;
			color: #C6C1C1;
			font-size: 20px;
			
			&:hover {
				background-color: #001527;
				border-color: #00213E;
			}
			
			&.left {
				left: 11.5%;
			}
			&.middle {
				left: calc(50% - 100px);

				@media screen and (max-width: 600px) {
					left: calc(50% - 16.65%);
				}
			}
			&.right {
				right: 11.5%;
			}
			&.top {
				top: 15%;
			}
			&.center {
				top: calc(50% - 6.25%);
			}
			&.bottom {
				bottom: 15%;
			}
		}
		
		button.frontpage {
			min-height: 12.5%;
			width: 33.3%;
			max-width: 200px;
			@include hyphenate;
		}
	}
	
	.hidden {
		display: none !important;
		visibility: hidden !important;
	}
	
	#change-level-btn {
		position: absolute;
		bottom: 4%;
		right: 0;
		border-radius: 6px 0 0 6px;
	}
	
	#show-info-btn {
		position: absolute;
		bottom: 4%;
		left: 0;
		border-radius: 0 6px 6px 0;
	}
}