@import "responsive.scss";

.map-container {
	flex: 1 0 100%;
	
	.angular-google-map-container {
		height: calc(100vh - 40px);

		.gm-style-iw div div {
			max-height: inherit;

			img {
				max-width: 100%;
				max-height: inherit;
			}
		}
	}
	
	.custom-map-info {
		display: none;
		z-index: 100;
		position: absolute;
		bottom: 30px;
		left: 10px;
		background: white;
		padding: 10px;
		box-shadow: 1px 3px 2px 1px;
	}
}