<h2 class="">Kirkko</h2>
<img src="images/vanha-vaasan-kirkko.jpg" alt="Kirkon historia" class="pull-right img-thumbnail" />
<p>Etiam quis congue tortor, eget tincidunt justo. Ut vestibulum neque quis leo porttitor venenatis. Morbi sit amet ornare purus. Etiam dolor odio, hendrerit eget varius sed, iaculis vel nibh. Duis imperdiet ac nisi ut dapibus.</p>
<p>Etiam sit amet pretium purus. Duis et nunc sed ante tincidunt pretium. Ut faucibus rhoncus nisi a blandit. Donec rhoncus sem mauris, et pretium sem consectetur id.</p>