<section class="audio-container" ng-controller="AudioController as audio">
	<menu></menu>
	<div class="content">
		<h1 style="display: none">Todistajan lausunto</h1>
		
		<audiocell header="Piika" ctrl="audio" cid="1" audio="piga" class="top left"></audiocell>
		<audiocell header="Lassel" ctrl="audio" cid="2" audio="lassel" class="top right"></audiocell>
		<audiocell header="Aspelin" ctrl="audio" cid="3" audio="aspelin" class="bottom left"></audiocell>
		<audiocell header="Vöyriläinen" ctrl="audio" cid="4" audio="vora" class="bottom right"></audiocell>
	</div>
</section>