<section class="audio-container" ng-controller="AudioController as audio">
	<menu></menu>
	<div class="content">
		<h1>Todistajan lausunto</h1>
		
		<audiocell header="Piga" ctrl="audio" cid="1" audio="piga" style="top: 100px;"></audiocell>
		<audiocell header="Lassel" ctrl="audio" cid="2" audio="lassel" style="top: 100px; right: 50px;"></audiocell>
		<audiocell header="Aspelin" ctrl="audio" cid="3" audio="aspelin" style="bottom: 100px;"></audiocell>
		<audiocell header="Vöråbo" ctrl="audio" cid="4" audio="vora" style="bottom: 100px; right: 50px"></audiocell>
	</div>
</section>