<section class="history-container" ng-controller="HistoryController as history">
	<menu></menu>
	<div class="content">
		<h1>Vaasan historia</h1>

		<div class="btn-bar" ng-show="history.showBlock == 'buttons'">
			<button type="button" class="btn btn-primary btn-lg" ng-click="history.show('timeline')">
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Näytä aikajana
			</button>
			
			<button type="button" class="btn btn-primary btn-lg" ng-click="history.show('church')">
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Kirkko
			</button>
			
			<button type="button" class="btn btn-primary btn-lg" ng-click="history.show('school')">
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 1800-luvun koulu
			</button>
		</div>

		<div class="subview-container" ng-show="history.showBlock == 'timeline'">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"
				ng-click="history.show('')">
				<span aria-hidden="true">&times;</span>
			</button>

			<timeline>
				<timeline-event ng-repeat="event in history.events" side="{{($index % 2 === 0) && 'right' || 'left'}}">
					<timeline-badge class="{{event.badgeClass}}" ng-click="history.showInfo(event, $index)">
						<i class="glyphicon {{event.badgeIconClass}}"></i>
					</timeline-badge>
					<timeline-panel class="{{event.badgeClass}}" id="timeline-panel{{$index}}">
						<timeline-heading>
							<i class="glyphicon glyphicon-time"></i> {{event.date}}
							<h4>{{event.title}}</h4>
						</timeline-heading>
						<p>{{event.content}}</p>
					</timeline-panel>
				</timeline-event>
			</timeline>

			<button type="button" class="btn btn-primary btn-lg" ng-click="history.show('tasks')">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Tehtäviä
			</button>
		</div>
		
		<div class="subview-container well clearfix" ng-show="history.showBlock == 'church'">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"
				ng-click="history.show('')">
				<span aria-hidden="true">&times;</span>
			</button>
			
			<church></church>
		</div>
		
		<div class="subview-container well clearfix" ng-show="history.showBlock == 'school'">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"
				ng-click="history.show('')">
				<span aria-hidden="true">&times;</span>
			</button>
			
			<school></school>
		</div>
		
		<div class="subview-container well clearfix" ng-show="history.showBlock == 'tasks'">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"
				ng-click="history.show('')">
				<span aria-hidden="true">&times;</span>
			</button>
			
			<tasks></tasks>
		</div>
	</div>
</section>