<section class="history-container">
	<menu></menu>
	<div class="content">
		<div class="btn-bar" ng-show="history.showBlock == 'buttons'">
			<button type="button" class="btn btn-primary btn-lg top middle" ng-click="history.show('timeline')">
				Näytä aikajana
			</button>
			
			<button type="button" class="btn btn-primary btn-lg center left" ng-click="history.show('church')">
				Kirkko
			</button>
			
			<button type="button" class="btn btn-primary btn-lg center right" ng-click="history.show('school')">
				1800-luvun koulu
			</button>
		</div>

		<div class="subview-container well clearfix" ng-show="history.showBlock == 'timeline'">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"
				ng-click="history.show('')">
				<span aria-hidden="true">&times;</span>
			</button>

			<h2>Vaasan historia</h2>
			<timeline>
				<timeline-event ng-repeat="event in history.events"
								side="{{($index % 2 === 0) && 'right' || 'left'}}">
					<timeline-badge class="{{event.badgeClass}}">
						<i class="glyphicon {{event.badgeIconClass}}"></i>
					</timeline-badge>
					<timeline-panel class="{{event.badgeClass}}" id="timeline-panel{{$index}}">
						<timeline-heading>
							<i class="glyphicon glyphicon-time"></i> {{event.date}}
							<h4>{{event.title}}</h4>
						</timeline-heading>
						<p>{{event.content}}</p>
					</timeline-panel>
				</timeline-event>
			</timeline>
		</div>
		
		<div class="subview-container well clearfix" ng-show="history.showBlock == 'church'"
				ng-init="view = 'church'">
			<button type="button" class="close" data-dismiss="alert" aria-label="Sulje"
				ng-click="history.show('')">
				<span aria-hidden="true">&times;</span>
			</button>
			
			<div class="church">
				<h2>{{history.getInfoText('church').title}}</h2>
				<img ng-if="history.hasImage('church')" src="images/{{history.getImage('church')}}" alt=""
						class="pull-right img-thumbnail" />
				<div ng-bind-html="history.getInfoText('church').text"></div>
			</div>
			<tasks questions="history.getQuestions('church')" view="view"></tasks>
		</div>
		
		<div class="subview-container well clearfix" ng-show="history.showBlock == 'school'"
				ng-init="view2 = 'school'">
			<button type="button" class="close" data-dismiss="alert" aria-label="Sulje"
				ng-click="history.show('')">
				<span aria-hidden="true">&times;</span>
			</button>
			
			<div class="school">
				<h2>{{history.getInfoText('school').title}}</h2>
				<img ng-if="history.hasImage('school')" src="images/{{history.getImage('school')}}" alt=""
						class="pull-right" />
				<div ng-bind-html="history.getInfoText('school').text"></div>
			</div>
			<tasks questions="history.getQuestions('school')" view="view2"></tasks>
		</div>
	</div>
</section>