<section class="main-container">
	<div class="layout">
		<button type="button" class="btn frontpage top left" ng-click="main.showView('historia')">
			Historia
		</button>
		<button type="button" class="btn frontpage center left" ng-click="main.showView('ammatteja')">
			Ammatteja
		</button>
		<button type="button" class="btn frontpage bottom middle" ng-click="main.showView('video')">
			Video
		</button>
		<button type="button" class="btn frontpage top right" ng-click="main.showView('kartta')">
			Kartta
		</button>
		<button type="button" class="btn frontpage center right" ng-click="main.showView('audio')">
			Todistajan lausunto
		</button>
	</div>
	
	<!-- Change level -->
	<button id="change-level-btn" class="btn btn-primary btn-lg" type="button" data-toggle="modal"
			data-target="#level-modal">
		<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
	</button>
	
	<!-- Info -->
	<button id="show-info-btn" class="btn btn-primary btn-lg" type="button" data-toggle="modal"
			data-target="#info-modal">
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
	</button>
</section>