<section class="video-container" ng-controller="VideoController as video">
	<menu></menu>
<!-- 	<h1>Video</h1> -->
	<div class="videogular-container">
		<videogular vg-theme="video.config.theme">
			<vg-media vg-src="video.config.sources"></vg-media>
			
			<vg-controls>
				<vg-play-pause-button></vg-play-pause-button>
				<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
				<vg-scrub-bar>
					<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
				</vg-scrub-bar>
				<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
				<vg-volume>
					<vg-mute-button></vg-mute-button>
					<vg-volume-bar></vg-volume-bar>
				</vg-volume>
				<vg-fullscreen-button></vg-fullscreen-button>
			</vg-controls>
		</videogular>
	</div>
	
	<div class="copyright pull-right">Video: Anton Hagman</div>
</section>