<section class="work-container">
	<menu></menu>
	<div class="content">
		<div class="btn-bar" ng-show="work.view == 'buttons'">
			<h1>Ammatteja</h1>

			<button type="button" class="btn btn-default btn-lg top left" ng-click="work.show('profession')">
				Ammatti­kunta
			</button>

			<button type="button" class="btn btn-default btn-lg top middle" ng-click="work.show('cobbler')">
				Suutari
			</button>
			
			<button type="button" class="btn btn-default btn-lg top right" ng-click="work.show('hatmaker')">
				Hatuntekijä
			</button>
			
			<button type="button" class="btn btn-default btn-lg bottom left" ng-click="work.show('tailor')">
				Räätäli
			</button>
			
			<button type="button" class="btn btn-default btn-lg bottom right" ng-click="work.show('blacksmith')">
				Seppä
			</button>

		</div>

		<div ng-repeat="view in work.views" class="subview-container well clearfix" ng-show="work.view == view">
			<button type="button" class="close" data-dismiss="alert" aria-label="Sulje"
				ng-click="work.show('')">
				<span aria-hidden="true">&times;</span>
			</button>

			<h2>{{work.getInfoText(view).title}}</h2>
			<img ng-if="work.hasImage(view)" src="images/{{work.getImage(view)}}" alt=""
					class="pull-right img-thumbnail" />
			<div ng-bind-html="work.getInfoText(view).text"></div>
			<tasks questions="work.getQuestions(view)" view="view"></tasks>
		</div>
	</div>
</section>